@use 'scss/variables/colors';
@use 'scss/variables/font';

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: font.$font;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background: colors.$bg-body url('./assets/images/bg-header-desktop.svg') no-repeat;
    background-size: 100vw;
    font-size: .9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}